*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
}
.btn-primary{
    border: none;
    border-radius: 5px;
    padding: 15px;
    font-size: 18px;
    font-weight: 700;
}
:root{
    --primary-color: crimson;
}
/* Navigation Bar Starts */
.navigation{
    background-color: rgba(184, 180, 180, 0.8);
    height: 120px;
    width: 100%;
    
}
.nav-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-ul{
    margin-top: 40px;
}
.nav-ul > li{
    color: white;
    font-size: 20px;
    display: inline;
    padding: 10px;
}
.logo{
    margin-top: 40px;
}
.nav-ul > li:hover{
    color: black;
    transition: 0.5s ease-in;
    cursor:pointer;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
}
/* Navigation Bar Ends */
/* Banner Section Starts */
.banner-container{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-image: url("./asset/image/background.jpg"), linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7));
    background-blend-mode: overlay;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-title{
    color: #ffffff;
    font-size: 45px;
    font-weight: 700;
    line-height: 80px;
    text-align: center;
}
.digital{
    color: var(--primary-color);
}
.banner-description{
    color: #ffffff;
    font-size: 20px;
    line-height: 28px;
    font-weight: 300;
    padding-bottom: 25px;
    text-align: center;
}
.btn-left{
    color: #ffffff;
    background-color: var(--primary-color);
    transition: 0.5s ease-in;
}
.btn-left:hover{
    background-color: #ffffff;
    color: #000000;
}
.btn-right:hover{
    background-color: var(--primary-color);
    color: #ffffff;
    transition: 0.5s ease-in;
}
.button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}
/* Banner Section Ends */
/* Service Section Starts */
.service-container{
    height: 100vh;
    width: 100%;
    background-image: url("./asset/image/footer-bg.png"), linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
    background-blend-mode: overlay;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.service-button:hover{
    background-color: var(--primary-color);
    color: #ffffff;
    box-shadow: 2px 2px 5px #ffffff;
    transition: 0.5s ease-in-out;
}
.service-title{
    font-size: 55px;
    font-weight: 700;
    padding-top: 10px;
}
.service{
    font-size: 55px;
    color: var(--primary-color);
}
.service-description{
    font-size: 17px;
    line-height: 35px;
    padding: 25px 0px 25px 0px;
    font-weight: 500;
}
.service-ul{
    padding-bottom: 20px;
}
.service-list{
    color:#ffffff;
}
.author{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
}
.author-name{
    border-right: 3px solid var(--primary-color);
    padding-right: 30px;
}
.author-left{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.author-img{
    height: 120px;
    width: 120px;
    border-radius: 50%;
}
.more-details-btn:hover{
    background-color: var(--primary-color);
    color: #ffffff;
    box-shadow: 2px 2px 5px  #ffffff;
    transition: 0.5s ease-in-out;
}
.box-1-2{
    display: flex;
    gap: 10px;
    margin-bottom: 10px;

}
.box-3-4{
    margin-top: 10PX;
    display: flex;
    justify-content: space-between;
}
.box{
    height: 250px;
    width: 250px;
    border-radius: 8px;
    background-color: #ffffff;
}
.service-box-title{
    padding-top: 25px;
    text-align: center;
}
.service-icon{
    margin-top: 15px;
    margin-left: 73px;
    height: 100px;
    width: 100px;
}
/* Service Section Ends */
/* Contact Banner Starts  */
.contact-container{
    width: 80%;
    height: 250px;
    color: #ffffff;
    background-color: rgb(230, 62, 20);
    border-radius: 25px;
    margin: -150px auto 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    box-shadow: 5px 5px 5px rgb(206, 87, 146);
}
.contact-number{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.call-icon{
    height: 100px;
    width: 100px;
}
.contact-number-right > h3{
    font-size: 45px;
}
.contact-number-right > p{
    font-size: 18px;
}
.contact-number-right{
    border-right: 3px solid black;
    padding-right: 25px;
}
.contact-banner-middle{
    font-size: 20px;
    font-weight: 500;
}
.appoinment-btn{
    border-radius: 20px;
    transition: .5s ease-in-out;
}
.appoinment-btn:hover{
    background-color: var(--primary-color);
    color: #ffffff;
    box-shadow: 5px 5px 5px black;
}
/* Contact Banner Section Ends */
/* Blogs Section Starts */
.blog-header{
    text-align: center;
}
.blog-header-title{
    font-size: 45px;
    margin-top: 100px;
    margin-bottom: 25px;
}
.span-blogs{
    color: var(--primary-color);
}
.blog-header-description{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 100px;
}
.blog-box-container{
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
}
.blog-box{
    height: 550px;
    width: 480px;
    background-color: rgb(215, 228, 238);
}
.blog-img-1{
    width: 480px;
    height: 400px;
}
.blog-description, .blog-title{
    text-align: center;
}
/* Blog Section End */
/* Footer Section Starts */
.footer{
    width: 100%;
    height: 45vh;
    color: #ffffff;
    background-image: url("./asset/image/footer-bg.png"), linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
    background-blend-mode: overlay;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.footer-logo{
    margin-bottom: 10px;
}
.foot-1-p{
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 10px;
}
.number-2-title{
    font-size: 35px;
    font-weight: 700;
    padding-bottom: 15px;
}
.number-2 > a{
    text-decoration: none;
}
.number-2 > a > li{
    list-style: none;
    color: #ffffff;
    padding: 8px;
}
.number-3-title{
    font-size: 35px;
    font-weight: 700;
    padding-bottom: 20px;
}
.number-3 > ul{
    list-style: none;
}
.number-3 > ul > li{
    padding: 8px;
}
.number-4-title{
    font-size: 35px;
    font-weight: 700;
    padding-bottom: 15px;
}
.number-4-description{
    font-size: 18px;
    padding-bottom: 8px;
}
.footer-address{
padding-left: 10px;
}
.footer-contact-number{
 padding-left: 10px;
}
.footer-mail{
padding-left: 10px;
}
.fa-solid, .footer-address, .footer-contact-number, .footer-mail{
    padding-bottom: 12px;
}
/* Footer Section End */